body,
html,
*{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-image: url("https://th.bing.com/th?id=OIP.lYq9y4B2KzZkYVSwsalS5wHaE8&w=306&h=204&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2");
}
.header{ 
    font-size: 50px;
    text-align: center;
    margin-top:2%;
    margin-bottom: 5%;



}

.container{
    display:flex;
    width: 90vw;
    margin: 2rem auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.card{
    height: 50rem;
    width:26%;
    min-width: 30rem;
    border: 2px solid black;
    border-radius: 3px;
    display:flex;
    flex-direction:column; 
    align-items: center;
    margin-bottom: 5%;
    justify-content: space-around;
    background-color: rgb(211,211,211,.5)
    
    
}
@media screen and (max-width: 1000px) {
    .card{
        width:40%;
    }
}
@media screen and (max-width:800px) {
    .card{
    flex-direction:column;
}
.card{
    width:90%;

}
}
.card-image{
    width: 100%;
    height: 60%;
    object-fit:cover;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.card-header{
    font-size: 2.2rem;
    margin-top: 1.2rem;

}
#monkeyimage{
transition: all 0.3s
}
#monkeyimage:hover{
    transform: 
    scale(1.15)
}

#blueviperimage{
    transition: all 0.3s
}
#blueviperimage:hover{
    transform: 
    scale(3,1.5)
}
#image3 {

    transition: transform 0.8s ease;
}


#image3:hover {
    transform: rotate(360deg);
}
